* {	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--azul-oscuro: #353066;
	--azul-claro: #36c7e2;
	--fondo: #eaf2ff;
	--radio: 5rem;
	--fs-sm: 0.8rem;
	--fs-md: 1.3rem;
	--fs-lg: 1.8rem;
}
html {
	display: flex;
	justify-content: center;
}
.git-nav {
	color: var(--fondo);
	position: fixed;
	width: 21.6cm;
	top: 0;
	background-color: var(--azul-oscuro);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	font-size: var(--fs-md);
	padding: 0.5rem 0;
}
.git-nav i {
	margin-right: 3rem;
	font-size: var(--fs-lg);
}
.page {
	height: 27.9cm;
	width: 21.6cm;
	background-color: var(--azul-oscuro);
	padding: 1.5em 0;
	display: flex;
	border: .2px solid black;
}
.barra-lateral {
	flex-basis: 35%;
	display: flex;
	flex-direction: column;
	color: white;
	justify-content: center;
}
.barra-lateral img {
	border-radius: 50%;
	border: 5px solid black;
	width: 70%;
	height: auto;
	margin: 0 auto;
}
.barra-lateral h1 {
	font-weight: bolder;
	border-bottom: 3px solid white;
	font-size: 2rem;
}
.barra-lateral h2 {
	font-size: 1rem;
}
h1, h2 {
	text-align: center;
	padding: 1.5rem 0;
}
.main {
	flex-basis: 65%;
	background-color: var(--fondo);
	position: relative;
	padding-left: 2em;
}
.info-tag {
	background-color: var(--azul-claro);
	color: white;
	font-size: var(--fs-md);
	display: flex;
	align-items: center;
	margin: 1.5rem 0;
}
.info-tag i {
	margin-right: 1em;
	font-size: var(--fs-md);
}
.main .info-tag {
	padding: .5em .4em;
	margin-top: 2rem;
	margin-bottom: 2.2rem;
}
.info-tag.perfil {
	margin-top: 1rem;
}
.barra-lateral h3 {
	padding: .5em 0 .5em 1.5em;
	max-width: 85%;
	margin-top: 1.5rem;
}
.main article {
	display: flex;
}
.education-article {
	margin-bottom: 2rem;
}
.main article h4 {
	padding-right: 1em;
}
.main > article > *:nth-child(1) {
	flex-basis: 20%;
	font-weight: bold;
}
.main > article > *:nth-child(2) {
	flex-basis: 80%;
}
.barra-lateral > p, .barra-lateral > div {
	margin: .8rem 2rem 0 1.25rem;
	font-size: var(--fs-sm);
}
.barra-lateral div > i {
	margin-right: 1.5rem;
}
h4 {
	font-size: var(--fs-sm);
}
h4 i {
	color: var(--azul-oscuro);
	font-size: var(--fs-md);
	margin-right: .5rem;
}
.skills-container {
	margin-right: 10px;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}
.skill {
	flex-direction: column;
	margin-bottom: .8rem;
	justify-content: center;
	align-items: center;
}
.skill > * {
	display: flex;
	justify-content: center;
	align-items: center;
}
.skill > h4 {
	text-align: center;
	padding-bottom: 0.5rem;
}
.mysql:before,
.postgresql:before,
.redux:before,
.mongo:before,
.webpack:before {
	display: inline-block;
	height: 25px;
	width: 25px;
	content:"";
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: .5rem;
	filter: opacity(1) drop-shadow(0 0 0 var(--azul-oscuro));
}
.mysql:before {
	background-image: url("../assets/logo-mysql.ico");
}
.postgresql:before {
	background-image: url("../assets/logo-postgresql.png");
}
.redux:before {
	background-image: url("../assets/logo-redux.png");
	background-size: 95%;
}
.mongo:before {
	background-image: url("../assets/logo-mongodb.ico");
	filter: opacity(.6) drop-shadow(0 0 0 var(--azul-oscuro));
}
.webpack:before {
	background-image: url("../assets/logo-webpack.ico");
	filter: opacity(.4) drop-shadow(0 0 0 var(--azul-oscuro));
}
.titulo-univ {
	display: flex;
	padding-top: 0.5rem;
}
.other-skills {
	margin-top: 1rem;
	grid-column: 1 / -1;
}
.other-skills .title {
	width: 100%;
	font-weight: bold;
	padding-bottom: 1.5rem;
}
.container {
	display: flex;
	padding-left: 2rem;
}
.left, .right {
	width: 50%;
}
.other-skills .container i {
	color: var(--azul-oscuro);
	margin-right: 0.5rem;
	font-size: var(--fs-md);
	height: 25px;
	width: 25px;
}
.other-skills .container .right div,
.other-skills .container .left div {
	padding: 0.5rem 0;
}
.extra-ml {
	margin-left: 0.5rem;
}
